In [1]:
import pandas as pd

In [2]:
from sqlalchemy import create_engine

In [3]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [4]:
engine.connect()

In [7]:
query = """
SELECT 1 as number;
"""

pd.read_sql(query, con=engine)

   number
0       1

In [5]:
query = """
SELECT *
FROM pg_catalog.pg_tables;
"""

pd.read_sql(query, con=engine)

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,green_taxi_trips,root,None,False,False,False,False
1,pg_catalog,pg_statistic,root,None,True,False,False,False
2,pg_catalog,pg_type,root,None,True,False,False,False
3,pg_catalog,pg_foreign_table,root,None,True,False,False,False
4,pg_catalog,pg_authid,root,pg_global,True,False,False,False
...,...,...,...,...,...,...,...,...
62,pg_catalog,pg_subscription_rel,root,None,True,False,False,False
63,information_schema,sql_implementation_info,root,None,False,False,False,False
64,information_schema,sql_parts,root,None,False,False,False,False
65,information_schema,sql_sizing,root,None,False,False,False,False
66,information_schema,sql_features,root,None,False,False,False,False

In [7]:
df = pd.read_csv('./data/green_tripdata_2024-01.csv')

In [11]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

AttributeError: 'DataFrame' object has no attribute 'tpep_pickup_datetime'

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               100 non-null    int64
 1   lpep_pickup_datetime   100 non-null    object
 2   lpep_dropoff_datetime  100 non-null    object
 3   store_and_fwd_flag     100 non-null    object
 4   RatecodeID             100 non-null    float64
 5   PULocationID           100 non-null    int64
 6   DOLocationID           100 non-null    int64
 7   passenger_count        100 non-null    float64
 8   trip_distance          100 non-null    float64
 9   fare_amount            100 non-null    float64
 10  extra                  100 non-null    float64
 11  mta_tax                100 non-null    float64
 12  tip_amount             100 non-null    float64
 13  tolls_amount           100 non-null    float64
 14  ehail_fee              0 non-null      float64
 15  improvement_surcharge  100 non-null    float64
 16  total_amount           100 non-null    float64
 17  payment_type           100 non-null    float64
 18  trip_type              100 non-null    float64
 19  congestion_surcharge   100 non-null    float64
dtypes: float64(14), int64(3), object(3)
memory usage: 15.8+ KB

In [8]:
df.to_sql(name='green_taxi_trips', con=engine, index=False)

ValueError: Table 'green_taxi_trips' already exists.

In [9]:
query = """
SELECT * FROM green_taxi_trips LIMIT 10
"""

pd.read_sql(query, con=engine)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2024-01-01 00:46:55,2024-01-01 00:58:25,N,1.0,236,239,1.0,1.98,12.8,1.00,0.5,3.61,0.0,None,1.0,21.66,1.0,1.0,2.75
1,2,2024-01-01 00:31:42,2024-01-01 00:52:34,N,1.0,65,170,5.0,6.54,30.3,1.00,0.5,7.11,0.0,None,1.0,42.66,1.0,1.0,2.75
2,2,2024-01-01 00:30:21,2024-01-01 00:49:23,N,1.0,74,262,1.0,3.08,19.8,1.00,0.5,3.00,0.0,None,1.0,28.05,1.0,1.0,2.75
3,1,2024-01-01 00:30:20,2024-01-01 00:42:12,N,1.0,74,116,1.0,2.40,14.2,1.00,1.5,0.00,0.0,None,1.0,16.70,2.0,1.0,0.00
4,2,2024-01-01 00:32:38,2024-01-01 00:43:37,N,1.0,74,243,1.0,5.14,22.6,1.00,0.5,6.28,0.0,None,1.0,31.38,1.0,1.0,0.00
5,1,2024-01-01 00:43:41,2024-01-01 01:00:23,N,1.0,33,209,1.0,2.00,17.0,3.75,1.5,2.00,0.0,None,1.0,24.25,1.0,1.0,2.75
6,1,2024-01-01 00:31:56,2024-01-01 00:48:09,N,1.0,74,238,2.0,3.20,18.4,3.75,1.5,4.70,0.0,None,1.0,28.35,1.0,1.0,2.75
7,2,2024-01-01 00:46:12,2024-01-01 00:57:39,N,1.0,166,239,2.0,2.01,13.5,1.00,0.5,5.62,0.0,None,1.0,24.37,1.0,1.0,2.75
8,2,2024-01-01 00:38:07,2024-01-01 00:39:23,N,1.0,226,226,1.0,0.31,3.7,1.00,0.5,0.00,0.0,None,1.0,6.20,2.0,1.0,0.00
9,2,2024-01-01 00:44:24,2024-01-01 00:57:47,N,1.0,7,129,1.0,2.32,14.9,1.00,0.5,3.48,0.0,None,1.0,20.88,1.0,1.0,0.00